@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  position: relative;

  button,
  a {
    @apply focus:outline-none rounded-md px-2 text-xl;
  }

  .menu {
    min-width: 200px;
    position: absolute;
    top: 100%;
    right: 0.5rem;
    margin-top: 0.5rem;
    transition: opacity 0.25s linear;
    opacity: 20%;

    &:hover {
      opacity: 100%;
    }

    .label {
      @apply font-semibold;
    }

    input, select {
      @apply border-gray-300 border-2 rounded-md p-1 focus:outline-none;
    }

    input[type="number"] {
      width: 6ch;
    }

    select {
      width: 100%;
    }
  }

  #play:hover {
    @apply bg-green-200 text-green-600;
  }

  #pause:hover {
    @apply bg-red-200 text-red-600;
  }

  #reset:hover {
    @apply bg-yellow-200 text-yellow-600;
  }

  .regular-button:hover {
    @apply bg-gray-200 text-black;
  }
}

#canvas-container {
  min-width: 0; /* Override for dynamic canvas size upon resizing */
  min-height: 0; 
}