@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  position: relative;

  button,
  a {
    @apply focus:outline-none rounded-md px-2 text-xl;
  }

  .menu {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    right: 0.5rem;
    opacity: 20%;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 100%;
    }
  }

  button:disabled {
    @apply text-gray-600;
  }

  #play:hover:enabled {
    @apply bg-green-200 text-green-600;
  }

  #pause:hover:enabled {
    @apply bg-red-200 text-red-600;
  }

  #reset:hover:enabled {
    @apply bg-yellow-200 text-yellow-600;
  }

  .regular-button:hover:enabled {
    @apply bg-gray-200 text-black;
  }
}

.menu {
  .label {
    @apply font-semibold;
  }

  min-width: 250px;

  .sub-label {
    @apply flex justify-between items-center;

    p {
      @apply text-sm;
    }
  }

  input[type="range"] {
    width: 100%;
  }

  input[type="number"] {
    width: 8ch;
    @apply border-gray-300 border-2 rounded-md p-1 focus:outline-none;

    &:disabled {
      @apply border-gray-600  bg-gray-300;
    }
  }
}