@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  @apply text-white;

  nav {
    background-color: rgb(51, 51, 51);
    position: relative;
  }

  .sketch {
    width: 100vw;
    height: 100vh;
  }

  .controller {
    @apply flex flex-col lg:space-x-4 space-y-2 lg:space-y-0;
    position: absolute;
    top: 100%;

    @screen lg {
      @apply flex flex-row flex-grow items-center content-evenly space-x-4;
      position: static;
    }

    .field {
      @apply flex space-x-2 items-center justify-between;

      input {
        width: 10ch;
        @apply bg-transparent rounded-lg border border-white focus:outline-none p-1;

        &:disabled {
          @apply text-gray-500 border-gray-500;
        }
      }
    }
  }

  .button {
    @apply focus:outline-none rounded-md px-2;
  }

  .play-button {
    @apply hover:bg-green-200 hover:text-green-600;
  }

  .stop-button {
    @apply hover:bg-red-200 hover:text-red-600;
  }

  .normal-button {
    @apply hover:bg-gray-200 hover:text-black;
  }
}
