@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  
  button,
  a {
    @apply focus:outline-none rounded-md px-2 text-xl;
  }

  input {
    @apply border-gray-300 border-2 rounded-md p-1 focus:outline-none bg-transparent;
  }

  #iteration {
    input {
      width: 6ch;
    }
  }
  
  .menu {
    position: relative;

    .dropdown {
      position: absolute;
      @apply space-y-2;
      margin-top: 1rem;
      right: 0;
      z-index: 2;
      display: none;
      min-width: 230px;

      .item {
        @apply flex justify-between items-center;

        .keys {
          kbd {
            @apply border-gray-300 border-2 rounded-md px-1;
          }
        }

        p {
          @apply text-sm;
        }
      }
    }

    &:hover .dropdown, &:focus-within .dropdown {
      display: block;
    }
  }
  
  #reset:hover {
    @apply bg-yellow-200 text-yellow-600;
  }
  
  .regular-button:hover {
    @apply bg-gray-200 text-black;
  }
}

#canvas-container {
  min-width: 0; /* Override for dynamic canvas size upon resizing */
  min-height: 0;

  div {
    @apply box-border border-4 border-gray-500;
    position: relative;
    min-width: 0; /* Override for dynamic canvas size upon resizing */
    min-height: 0;

    p {
      position: absolute;
      left: 0;
      @apply text-xl bg-gray-500 p-1;
    }
  }
}