@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav {
  position: relative;

  button, a {
    @apply focus:outline-none rounded-md px-2 text-xl;
  }

  .play-button:hover {
    @apply bg-green-200 text-green-600;
  }

  .stop-button:hover {
    @apply bg-red-200 text-red-600;
  }

  .reset-button:hover {
    @apply bg-yellow-200 text-yellow-600;
  }

  .regular-button:hover {
    @apply bg-gray-200 text-black;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0.5rem;
  }
}

.menu {
  .label {
    @apply font-semibold;
  }

  .plus-minus {
    @apply flex justify-between items-center;
    
    button {
      flex-basis: 28px;
      height: 28px;

      &:hover:enabled {
        @apply bg-gray-300;
      }

      &:disabled {
        @apply text-gray-300;
      }
    }
  }
}